In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Data/train.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7290 entries, 0 to 7289
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CustomerID                     7290 non-null   object
 1   State                          7290 non-null   object
 2   Customer Lifetime Value        7290 non-null   float64
 3   Response                       7290 non-null   object
 4   Coverage                       7290 non-null   object
 5   Coverage Index                 7290 non-null   int64
 6   Education                      7290 non-null   object
 7   Education Index                7290 non-null   int64
 8   Effective To Date              7290 non-null   object
 9   Employment Status              7290 non-null   object
 10  Employment Status Index        7290 non-null   int64
 11  Gender                         7290 non-null   object
 12  Income                         7290 non-null   int64
 13  Marital Status                 7290 non-null   object
 14  Marital Status Index           7290 non-null   int64
 15  Months Since Last Claim        7290 non-null   int64
 16  Months Since Policy Inception  7290 non-null   int64
 17  Number of Open Complaints      7290 non-null   int64
 18  Number of Policies             7290 non-null   int64
 19  Policy Type                    7290 non-null   object
 20  Policy Type Index              7290 non-null   int64
 21  Policy                         7290 non-null   object
 22  Policy Index                   7290 non-null   int64
 23  Renew Offer Type               7290 non-null   int64
 24  Sales Channel                  7290 non-null   object
 25  Sales Channel Index            7290 non-null   int64
 26  Vehicle Size                   7290 non-null   object
 27  Vehicle Size Index             7290 non-null   int64
 28  Claim over 1k                  7290 non-null   int64
dtypes: float64(1), int64(15), object(13)
memory usage: 1.6+ MB

In [20]:
df.head()

,CustomerID,State,Customer Lifetime Value,Response,Coverage,Coverage Index,Education,Education Index,Effective To Date,Employment Status,...,Policy Type,Policy Type Index,Policy,Policy Index,Renew Offer Type,Sales Channel,Sales Channel Index,Vehicle Size,Vehicle Size Index,Claim over 1k
0,QC35222,California,3622.69,No,Basic,0,Bachelor,2,1/1/2024,Employed,...,Corporate Auto,1,Corporate L2,4,3,Web,0,Medsize,1,0
1,AE98193,Washington,10610.21,No,Basic,0,High School or Below,0,1/1/2024,Unemployed,...,Personal Auto,0,Personal L1,0,1,Branch,1,Medsize,1,1
2,TM23514,Oregon,13868.02,No,Extended,1,College,1,1/1/2024,Employed,...,Personal Auto,0,Personal L3,2,3,Web,0,Medsize,1,0
3,QZ42725,Washington,3119.69,No,Basic,0,Bachelor,2,1/1/2024,Unemployed,...,Personal Auto,0,Personal L3,2,2,Agent,2,Medsize,1,0
4,SG81493,Arizona,5999.04,No,Premium,2,Bachelor,2,1/1/2024,Employed,...,Corporate Auto,1,Corporate L1,3,2,Web,0,Medsize,1,0